.reviews {
    flex: 4;
    max-height: 100vh;

    .container {
        padding: 30px;
        width: calc(100% - 60px);
        padding-top: 0;
        position: relative;
        min-height: calc(100vh - 150px);
        display: flex;
        flex-direction: column;

        .shoeList {
            width: 100%;

            table, thead,tr, td {
                border: 1px solid white;
                padding: 5px;
            }
            
            table {

                border-collapse: collapse;
                padding: 5px;
                width: 100%;

                

                thead {
                    background-color: #8363ac !important;
                    
                     tr {
 
                         th {
                            font-size: 15px;
                            font-weight: 700;
                            color: white;
                            text-transform: uppercase;
                            text-align: center;
                            padding: 10px;
                         }
                     }
 
                 }

                tr {
                    width: 100%;
                    background-color: #c6c0ff46;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        background-color: #c6c0ff7b;
                        transition: all 0.2s ease-in-out;
                        cursor: pointer;
                    }

                    &.white {
                        background-color: #fff;
                        &:hover {
                            background-color: #c6c0ff7b;
                            transition: all 0.2s ease-in-out;
                            cursor: pointer;
                        }
                    }

                    td{
                        
                        border: 1px solid white;

                        


                        .wrapper {
                            width: 100%;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .message {
                                font-size: 12px;
                                color: gray;
                                width: 200px;
                            }

                            .stars {
                                display: flex;
                                align-items: center;

                                .icon {
                                    font-size: 15px;
                                    color: orange;
                                }
                            }

                            .status {
                                font-size: 14px;
                                width: fit-content;
                                height: fit-content;
                                padding: 5px 15px 7px 15px;
                                border-radius: 10px;
                                color: white;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                &.approved {
                                    background-color: rgba(0, 128, 0, 0.33);
                                    color: green;
                                    
                                }
                                &.pending {
                                    background-color: rgba(220, 20, 60, 0.278);
                                    color: crimson;
                                    
                                }
                            }

                            &.actions {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .icon {
                                    font-size: 20px;
                                    color: #8363ac;
                                    cursor: pointer;
                                    width: fit-content;
                                    background-color: #f2f2f2;
                                    padding: 3px 7px;
                                    border-radius: 5px;
                                }
                            }

                            

                            &.customer {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;

                                img{
                                    width: 70px !important;
                                    height: 70px;
                                    object-fit: cover;
                                    border: 2px solid #8363ac;
                                    margin-right: 20px;
                                }

                                .info {
                                    display: flex;
                                    flex-direction: column;

                                    .name {
                                        font-weight: 600;
                                        font-size: 14px;
                                        margin-bottom: 5px;
                                        color: #8363ac;
                                    }

                                    .price {
                                        display: flex;
                                        align-items: center;
                                        color: gray;
                                        font-size: 14px;

                                        .icon {
                                            font-size: 15px;
                                            margin-right: 5px;
                                            color: #8363ac;
                                        }
                                    }
                                }
                            }
                            &.product {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;

                                img{
                                    width: 70px !important;
                                    height: 70px;
                                    object-fit: cover;
                                    border: 2px solid #8363ac;
                                    margin-right: 20px;
                                }

                                .info {
                                    display: flex;
                                    flex-direction: column;

                                    .name {
                                        font-weight: 600;
                                        font-size: 14px;
                                        margin-bottom: 5px;
                                        color: #8363ac;
                                    }

                                    .price {
                                        display: flex;
                                        align-items: center;
                                        color: gray;
                                        font-size: 14px;

                                        .icon {
                                            font-size: 15px;
                                            margin-right: 5px;
                                            color: #8363ac;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}